/* Mixin */

@use "variables";


@mixin mobile {
    @media screen and (max-width: variables.$mobile-breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: variables.$tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: variables.$desktop-breakpoint) {
        @content;
    }
}

@mixin padding-left-right {
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
        padding-left: 2.25rem;
        padding-right: 2.25rem; 
    }

    @include desktop {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@mixin div-padding {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
