/* Biography page styling */
/* Global site styling  */
/* Fonts */
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/Alternative/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
/* Colors */
/* Used for typography, components, branding and are
solid @ 100% opacity, unless stated otherwise */
/* Primary Colors*/
/* Secondary Colors */
/* Media Breakpoints */
/* Padding */
/* Mixin */
/* Initialization */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

/* Extensions */
/* Global styling */
/* Nav Bar */
nav {
  background-color: #323232;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
  }
}
.nav-bar__logo {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .nav-bar__logo {
    padding-top: 1.625rem;
    padding-left: 2.25rem;
    padding-right: 3rem;
  }
  .nav-bar__logo img {
    height: 1.25rem;
  }
}
.nav-bar__menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.nav-bar__menu-bar div {
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar {
    width: 30%;
  }
  .nav-bar__menu-bar div {
    padding: 1.325rem 0;
  }
}
.nav-bar__menu-bar--active {
  width: 100%;
  border-bottom: 3px solid #fff;
}
.nav-bar__menu-bar--active a {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #fff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--active a {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--active {
    width: auto;
    padding-bottom: unset;
  }
}
.nav-bar__menu-bar--inactive {
  width: 100%;
}
.nav-bar__menu-bar--inactive a {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #e1e1e1;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--inactive a {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--inactive {
    width: auto;
    padding-bottom: unset;
    padding: 1.5rem 0;
  }
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #fff;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer__title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding-bottom: unset;
    padding-right: 3rem;
  }
}
.footer__title h2 {
  font-family: "Avenir-Next";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__title h2 {
    font-family: "Avenir-Next";
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__socials {
  display: flex;
  width: 38vw;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    width: 30vw;
    height: 2.25rem;
  }
}
.footer__address-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__address-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    width: 30vw;
  }
}
.footer__contact--title {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.footer__contact--info {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
  color: #e1e1e1;
}
.footer__contact--email {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #e1e1e1;
}
.footer__logo {
  padding-top: 3rem;
}
.footer__copywrite {
  font-family: "Avenir-Next";
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.hero {
  display: flex;
  align-items: center;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 15rem;
}
@media screen and (min-width: 768px) {
  .hero {
    max-height: 25rem;
  }
}
.hero__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: 2.25rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
.hero__title h1 {
  font-family: "Avenir-Next";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__title h1 {
    font-family: "Avenir-Next";
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.band {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .band {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .band {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .band {
    padding-top: 3rem;
  }
}
.band h2 {
  font-family: "Avenir-Next";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .band h2 {
    font-family: "Avenir-Next";
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 2.25rem;
  }
}
.band__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .band__img-container {
    padding-bottom: 2.25rem;
  }
}
.band__img-container--image {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .band__img-container--image {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .band__img-container--image {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .band__img-container--image {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.band__copydeck h3 {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .band__copydeck h3 {
    font-family: "Avenir-Next";
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .band__copydeck h3 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .band__copydeck h3 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.band__quote-wrapper {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .band__quote-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .band__quote-wrapper {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .band__quote-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.band__quote-wrapper--quote {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  line-height: 1.625rem;
}
@media screen and (min-width: 768px) {
  .band__quote-wrapper--quote {
    font-family: "Avenir-Next";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.band__quote-wrapper--atribution {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  line-height: 1.625rem;
}
@media screen and (min-width: 768px) {
  .band__copydeck-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .band__copydeck-wrapper {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .band__copydeck-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.band__copydeck-wrapper--bio {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .band__copydeck-wrapper--bio {
    width: 39vw;
  }
}
.band__copydeck-wrapper--bio p {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .band__copydeck-wrapper--bio p {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  background-color: #fafafa;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.gallery h2 {
  font-family: "Avenir-Next";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.gallery__images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery__images img {
  width: 100%;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__images img {
    width: 27vw;
    height: auto;
    padding-bottom: 2.25rem;
  }
}/*# sourceMappingURL=bio.css.map */