/* Biography page styling */
/* Global site styling  */
/* Fonts */
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/Alternative/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
/* Colors */
/* Used for typography, components, branding and are
solid @ 100% opacity, unless stated otherwise */
/* Primary Colors*/
/* Secondary Colors */
/* Media Breakpoints */
/* Padding */
/* Mixins */
/* Initialization */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

/* Global styling */
/* Nav Bar */
nav {
  background-color: #323232;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
  }
}
.nav-bar__logo {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .nav-bar__logo {
    padding-top: 1.625rem;
    padding-left: 2.25rem;
    padding-right: 3rem;
  }
  .nav-bar__logo img {
    height: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__logo {
    padding-right: 2.25rem;
  }
}
.nav-bar__menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.nav-bar__menu-bar div {
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar {
    width: 30%;
  }
  .nav-bar__menu-bar div {
    padding: 1.325rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__menu-bar {
    width: 15%;
  }
}
.nav-bar__menu-bar--active {
  width: 100%;
  border-bottom: 3px solid #fff;
}
.nav-bar__menu-bar--active a {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #fff;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--active a {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--active {
    width: auto;
    padding-bottom: unset;
  }
}
.nav-bar__menu-bar--inactive {
  width: 100%;
}
.nav-bar__menu-bar--inactive a {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #afafaf;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--inactive a {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--inactive {
    width: auto;
    padding-bottom: unset;
    padding: 1.5rem 0;
  }
}

/* Hero Section*/
.hero {
  display: flex;
  position: relative;
  width: 100vw;
  height: 55vw;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 50vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 50vw;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 55vw;
  background-color: #323232;
  opacity: 50%;
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    height: 50vw;
  }
}
.hero__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: 2.25rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding-left: 5rem;
  }
}
.hero__title h1 {
  font-family: "Avenir-Next";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__title h1 {
    font-family: "Avenir-Next";
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title h1 {
    padding-left: 2.25rem;
  }
}

.divider {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .divider {
    width: 80vw;
  }
}
@media screen and (min-width: 1280px) {
  .divider {
    width: 40vw;
  }
}

/* Footer */
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 7.25rem;
    padding-right: 7.25rem;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    justify-content: unset;
  }
}
.footer__title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    display: flex;
    padding-bottom: unset;
    padding-top: 0.325rem;
    width: 31%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    width: 25%;
  }
}
.footer__title h2 {
  font-family: "Avenir-Next";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__title h2 {
    font-family: "Avenir-Next";
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__socials {
  display: flex;
  width: 38vw;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    width: 31%;
    height: 1.5rem;
    margin: auto 0;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socials {
    width: 25%;
  }
}
.footer__socials img {
  padding-right: 2.25rem;
}
.footer__address-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__address-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__address-wrapper {
    justify-content: unset;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    width: 31%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    width: 25%;
  }
}
.footer__contact-title {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__contact-title {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}
.footer__contact-info {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__contact-info {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding-bottom: 2.25rem;
  }
}
.footer__contact-email {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.footer__contact-email a {
  text-decoration: unset;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__contact-email {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.footer__logo--mobile {
  padding-top: 2.25rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--tablet {
    display: flex;
    width: 31%;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo--tablet {
    width: 50%;
  }
}
.footer__copywrite {
  font-family: "Avenir-Next";
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 400;
  padding-top: 1rem;
  width: 100%;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__copywrite {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copywrite {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-top: 3rem;
  }
}

/* Extensions */
.section-initial-styling, .past-comments, .comments, .gallery, .band {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .section-initial-styling, .past-comments, .comments, .gallery, .band {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section-initial-styling, .past-comments, .comments, .gallery, .band {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.section-title, .comments__title, .gallery__title, .band__title {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .section-title, .comments__title, .gallery__title, .band__title {
    padding-left: 2.25rem;
  }
}

.section-h2, .comments__title h2, .gallery__title h2, .band__title h2 {
  font-family: "Avenir-Next";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  color: #323232;
}

/* page styling */
@media screen and (min-width: 768px) {
  .band {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .band__title {
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .band__title h2 {
    font-family: "Avenir-Next";
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 2.25rem;
  }
}
.band__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .band__img-container {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .band__img-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.band__img-container--image {
  width: 100%;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 1280px) {
  .band__img-container--image {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.band__copydeck {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .band__copydeck {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .band__copydeck {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.band__copydeck h3 {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .band__copydeck h3 {
    font-family: "Avenir-Next";
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .band__copydeck h3 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.band__quote-wrapper {
  padding-bottom: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .band__quote-wrapper {
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .band__quote-wrapper {
    padding-bottom: 2.25rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.band__quote-wrapper--quote {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  line-height: 1.625rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .band__quote-wrapper--quote {
    font-family: "Avenir-Next";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.band__quote-wrapper--atribution {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  line-height: 1.625rem;
}
.band__copydeck-wrapper {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .band__copydeck-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .band__copydeck-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.band__copydeck-wrapper--bio {
  padding-bottom: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .band__copydeck-wrapper--bio {
    width: 48%;
  }
}
@media screen and (min-width: 1280px) {
  .band__copydeck-wrapper--bio {
    width: 48%;
  }
}
.band__copydeck-wrapper--bio p {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.25rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .band__copydeck-wrapper--bio p {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .band__copydeck-wrapper--bio p {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.gallery {
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 3rem;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-bottom: unset;
  }
}
@media screen and (min-width: 768px) {
  .gallery__title h2 {
    font-family: "Avenir-Next";
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    padding-left: 2.25rem;
  }
}
.gallery__images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.gallery__images--img {
  width: 100%;
  padding-bottom: 1rem;
  filter: grayscale(100%);
}
.gallery__images--img:hover {
  filter: grayscale(0%);
}
.gallery__images--img img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__images--img {
    width: 31%;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__images--img {
    width: 31%;
    padding-bottom: 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .comments__title h2 {
    font-family: "Avenir-Next";
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 2.25rem;
  }
}
.comments__form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 0.75rem;
}
@media screen and (min-width: 768px) {
  .comments__form {
    width: 80vw;
  }
}
@media screen and (min-width: 1280px) {
  .comments__form {
    width: 40vw;
  }
}
.comments__avatar {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  margin-top: 1.25rem;
  margin-right: 1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .comments__avatar {
    width: 3rem;
    height: 3rem;
  }
}
.comments__avatar--avatar-img {
  background-color: #e1e1e1;
  background-image: url("../assets/Images/Mohan-muruge.jpg");
  background-size: cover;
  background-position: 25% 50%;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .comments__avatar--avatar-img {
    width: 3rem;
    height: 3rem;
  }
}
.comments__form-label {
  font-family: "Avenir-Next";
  font-size: 0.625rem;
  line-height: 1.25rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #afafaf;
}
.comments__form-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.comments__form-input--fullname, .comments__form-input--comment {
  min-height: 2.25rem;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #323232;
  background-color: #fafafa;
}
.comments__form-input--fullname:active, .comments__form-input--comment:active {
  border: 1px solid #323232;
}
.comments__form-input--comment {
  min-height: 2.25rem;
  max-height: 8rem;
}
.comments__form-input .submit {
  margin-top: 0.75rem;
}
.comments__btn {
  font-family: "Avenir-Next";
  font-size: 0.625rem;
  line-height: 1.25rem;
  height: 2.5rem;
  width: 100%;
  background-color: #323232;
  color: #fff;
  border-radius: 4px;
  border-width: 0;
  text-transform: uppercase;
  border-style: none;
}
@media screen and (min-width: 768px) {
  .comments__btn {
    font-family: "Avenir-Next";
    font-size: 0.75rem;
    line-height: 1.25rem;
    width: 9.375rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.past-comments {
  padding-top: 0;
}
.past-comments__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .past-comments__container {
    width: 80vw;
  }
}
@media screen and (min-width: 1280px) {
  .past-comments__container {
    width: 40vw;
  }
}
.past-comments__avatar {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  margin-top: 1.25rem;
  margin-right: 1rem;
  position: relative;
  margin-top: unset;
}
@media screen and (min-width: 768px) {
  .past-comments__avatar {
    width: 3rem;
    height: 3rem;
  }
}
.past-comments__avatar--avatar-img {
  background-color: #e1e1e1;
  background-image: url("../assets/Images/Mohan-muruge.jpg");
  background-size: cover;
  background-position: 25% 50%;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  position: absolute;
  background-image: url("");
}
@media screen and (min-width: 768px) {
  .past-comments__avatar--avatar-img {
    width: 3rem;
    height: 3rem;
  }
}
.past-comments__user {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.past-comments__user h3,
.past-comments__user p {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 400;
}
.past-comments__user-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  color: #323232;
}
.past-comments__user-name {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.past-comments__timestamp {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  color: #afafaf;
}
.past-comments__user-comment {
  padding-top: 0.5rem;
}
.past-comments__user-comment p {
  line-height: 1rem;
  font-weight: 400;
}/*# sourceMappingURL=bio.css.map */