/* Shows page styling */
/* Global site styling  */
/* Fonts */
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/Alternative/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
/* Colors */
/* Used for typography, components, branding and are
solid @ 100% opacity, unless stated otherwise */
/* Primary Colors*/
/* Secondary Colors */
/* Media Breakpoints */
/* Padding */
/* Mixins */
/* Initialization */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

/* Global styling */
/* Nav Bar */
nav {
  background-color: #323232;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
  }
}
.nav-bar__logo {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .nav-bar__logo {
    padding-top: 1.625rem;
    padding-left: 2.25rem;
    padding-right: 3rem;
  }
  .nav-bar__logo img {
    height: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__logo {
    padding-right: 2.25rem;
  }
}
.nav-bar__menu-bar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.nav-bar__menu-bar div {
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar {
    width: 30%;
  }
  .nav-bar__menu-bar div {
    padding: 1.325rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__menu-bar {
    width: 15%;
  }
}
.nav-bar__menu-bar--active {
  width: 100%;
  border-bottom: 3px solid #fff;
}
.nav-bar__menu-bar--active a {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #fff;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--active a {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--active {
    width: auto;
    padding-bottom: unset;
  }
}
.nav-bar__menu-bar--inactive {
  width: 100%;
}
.nav-bar__menu-bar--inactive a {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #afafaf;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--inactive a {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar__menu-bar--inactive {
    width: auto;
    padding-bottom: unset;
    padding: 1.5rem 0;
  }
}

/* Hero Section*/
.hero {
  display: flex;
  position: relative;
  width: 100vw;
  height: 55vw;
  background-image: "";
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 50vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 50vw;
  }
}
.hero__index-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 55vw;
  background-color: #323232;
  opacity: 50%;
}
@media screen and (min-width: 768px) {
  .hero__index-overlay {
    height: 50vw;
  }
}
.hero__shows-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 55vw;
  background-color: #323232;
  opacity: 50%;
}
@media screen and (min-width: 768px) {
  .hero__shows-overlay {
    height: 50vw;
  }
}
.hero__index-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__index-title {
    padding-left: 2.25rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__index-title {
    padding-left: 5rem;
  }
}
.hero__index-title h1 {
  font-family: "Avenir-Next";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__index-title h1 {
    font-family: "Avenir-Next";
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__index-title h1 {
    padding-left: 2.25rem;
  }
}
.hero__shows-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__shows-title {
    padding-left: 2.25rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__shows-title {
    padding-left: 5rem;
  }
}
.hero__shows-title h1 {
  font-family: "Avenir-Next";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__shows-title h1 {
    font-family: "Avenir-Next";
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__shows-title h1 {
    padding-left: 2.25rem;
  }
}

.divider {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  margin: 1rem 0;
}

/* Footer */
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 7.25rem;
    padding-right: 7.25rem;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    justify-content: unset;
  }
}
.footer__title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    display: flex;
    padding-bottom: unset;
    padding-top: 0.325rem;
    width: 31%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    width: 25%;
  }
}
.footer__title h2 {
  font-family: "Avenir-Next";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__title h2 {
    font-family: "Avenir-Next";
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__socials {
  display: flex;
  width: 38vw;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    width: 31%;
    height: 1.5rem;
    margin: auto 0;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socials {
    width: 25%;
  }
}
.footer__socials img {
  padding-right: 2.25rem;
}
.footer__address-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__address-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__address-wrapper {
    justify-content: unset;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    width: 31%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    width: 25%;
  }
}
.footer__contact-title {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__contact-title {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}
.footer__contact-info {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__contact-info {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding-bottom: 2.25rem;
  }
}
.footer__contact-email {
  font-family: "Avenir-Next";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.footer__contact-email a {
  text-decoration: unset;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__contact-email {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.footer__logo--mobile {
  padding-top: 2.25rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--tablet {
    display: flex;
    width: 31%;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo--tablet {
    width: 50%;
  }
}
.footer__copywrite {
  font-family: "Avenir-Next";
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 400;
  padding-top: 1rem;
  width: 100%;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__copywrite {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copywrite {
    font-family: "Avenir-Next";
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-top: 3rem;
  }
}

/* Extensions */
.section-initial-styling, .tablet, .mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .section-initial-styling, .tablet, .mobile {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section-initial-styling, .tablet, .mobile {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.section-title {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .section-title {
    padding-left: 2.25rem;
  }
}

.section-h2, .tablet h2, .mobile h2 {
  font-family: "Avenir-Next";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  color: #323232;
}

.mobile {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
.mobile__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mobile__label {
  color: #afafaf;
  text-transform: uppercase;
  font-family: "Avenir-Next";
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 400;
}
.mobile__data {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  padding-bottom: 1rem;
  text-transform: capitalize;
  color: #323232;
}
.mobile__data--date {
  font-weight: 600;
}
.tablet {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff;
  padding-top: 3rem;
  padding-bottom: 1.25rem;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .tablet {
    padding-bottom: unset;
    flex-direction: row;
    align-items: flex-start;
  }
}
.tablet__title {
  display: flex;
  width: 100%;
  position: relative;
  padding-left: 1.25rem;
}
@media screen and (min-width: 1280px) {
  .tablet__title {
    justify-content: flex-start;
    width: 25%;
    padding-left: 6.25rem;
  }
}
.tablet__showdates {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .tablet__showdates {
    padding-left: 2rem;
    padding-right: 6.25rem;
  }
}
.tablet__showdates-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.tablet__label {
  color: #afafaf;
  text-transform: uppercase;
  font-family: "Avenir-Next";
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 400;
  width: 25%;
}
.tablet__showdates-labels {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 2rem;
  padding-top: 1.25rem;
}
.tablet__info {
  font-family: "Avenir-Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #323232;
  width: 25%;
}
.tablet__info--date {
  font-weight: 600;
}
.tablet__cta {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
.tablet h2 {
  font-family: "Avenir-Next";
  font-size: 2.25rem;
  line-height: 2.75rem;
  padding-bottom: 2.25rem;
}
@media screen and (max-width: 767px) {
  .tablet {
    display: none;
  }
}

.cta-btn {
  font-family: "Avenir-Next";
  font-size: 0.75rem;
  line-height: 1.25rem;
  height: 2.5rem;
  width: 100%;
  background-color: #323232;
  color: #fff;
  border-radius: 4px;
  border-width: 0;
  text-transform: uppercase;
  border-style: none;
}
@media screen and (min-width: 768px) {
  .cta-btn {
    width: unset;
  }
}
@media screen and (min-width: 768px) {
  .cta-btn {
    width: 9.375rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}/*# sourceMappingURL=shows.css.map */