/* Shows page styling */

@use './partials/global';
@use './partials/variables';
@use './partials/typography';
@use './partials/mixin';

p {
  color: variables.$BandSite-Black;
  font-weight: 400;
}

/* Extensions */
.section-initial-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: variables.$mobile-before-hdlines;
  @include mixin.padding-left-right;
}

.section-title {
  display: flex;
  align-items: flex-start;
  width: 100%;

  @include mixin.desktop {
    padding-left: 2.25rem;
  }
}

.section-h2 {
  @include typography.mobile-section-header;
  font-weight: 700;
  padding-bottom: variables.$mobile-after-hdlines;
  color: variables.$BandSite-Black;
}

.shows,
#mobile {
  @extend .section-initial-styling;
  background-color: variables.$White;
  display: flex;
  align-items: flex-start;
  padding-bottom: 1rem;

  @include mixin.tablet {
    display: none;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include mixin.desktop {
      padding-top: 1.125rem;
    }
  }

  &__title {
    display: flex;
    width: 100%;
    position: relative;

    @include mixin.tablet {
      padding-left: 1.25rem;
    }

    @include mixin.desktop {
      justify-content: flex-start;
      width: 30%;
      padding-left: 6.25rem;
    }
  }

  h2 {
    @extend .section-h2;

    @include mixin.tablet {
      @include typography.tablet-section-header;
      padding-bottom: variables.$tablet-after-hdlines;
    }
  }

  &__showdates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include mixin.tablet {
      flex-direction: row;
      padding-top: 1rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      align-items: center;
      width: 100%;
    }

    @include mixin.desktop {
      padding-right: 6.25rem;
    }

    &:hover {
      background-color: variables.$Alabaster;
    }

    &__showdate-info#activeShowdateTablet {
      background-color: variables.$Mercury;
    }
  }

  &__label-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  &__showdate-label {
    color: variables.$Silver;
    text-transform: uppercase;
    @include typography.mobile-label;
    font-weight: 400;

    @include mixin.tablet {
      @include typography.tablet-label;
      width: 25%;
    }
  }

  &__showdate-info {
    display: flex;
    align-items: center;
    @include typography.mobile-subheader;
    font-weight: 400;
    text-transform: capitalize;
    color: variables.$BandSite-Black;
    width: 100%;
    padding-bottom: 1rem;

    @include mixin.tablet {
      @include typography.tablet-body-copy;

      padding-top: 1rem;
      width: 25%;
    }

    &--date {
      font-weight: 600;
    }
  }

  &__cta-container {
    display: flex;
    justify-content: center;
    width: 25%;
  }

  &__showdates#activeShowdateMobile {
    background-color: variables.$Mercury;
  }
}

#tablet {
  // this class is hidden on mobile devices
  display: flex;
  @extend .section-initial-styling;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: variables.$White;
  padding-top: variables.$tablet-before-hdlines;
  padding-bottom: variables.$tablet-before-hdlines;

  @include mixin.desktop {
    flex-direction: row;
    align-items: flex-start;
  }

  @include mixin.mobile {
    display: none;
  }
}

.cta-btn {
  @include typography.tablet-button;
  @include mixin.button;

  @include mixin.tablet {
    width: 9.375rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
